:root {
  --input-padding-x: 0rem;
  --input-padding-y: 1rem;
}
.bl-5 { border-left: 5px; border-left-style: solid; }
/*e works*/
.aligntext-left {padding-left: 10px !important;}
.mt-5rem {margin-top: 5rem!important;}
.text-color-black {color:black !important;}
.text-color-white {color:white !important;}
.lessonHeaderClass {cursor: pointer;}
.blur-effect{-webkit-filter:blur(3px);filter:blur(3px);}
.grid-height{height: 160px;}
/*e works*/
.form-control, .input-group, .input-group-text { border-radius: 0; }
.form-control:focus { box-shadow: 0 0 0 0 !important; border-left-color: transparent !important; border-right-color: transparent !important; border-top-color: transparent !important; outline: 0; }
.relative { position: relative; }
.absolute { position: absolute; }
ul.fheader { margin: 0; padding: 0; }
ul.fheader li { list-style: none; }
ul.fheader li:hover { border-bottom: 3px solid #007bff; }
textarea { resize: none; }
@media (max-width: 640px) {
    ul.less_grid li .card { margin-bottom: 30px; }
    .title_block { text-align: center; }
    .title_block button { float: none !important; margin-top: 20px; }
    .crt_less { text-align: center; margin-top: 0 !important; }
    .crt_less button { float: none !important; }
    .copy { text-align: center; }
    .copy nav { margin-bottom: 20px; }
}
.searchbar input[type='text'] { border-left: 0; border-right: 0; border-top: 0; }
.study-overlay { background-color: rgba(0, 0, 0, 0.65); }
.study-overlay div { position: absolute; top: 70px; left: 15px; transition: 0.4s all ease-in-out; }
ul.less_grid li { margin-bottom: 30px; }
.lesson_grid { height: 130px; overflow: hidden; transition: height 0.5s; -webkit-transition: height 0.5s; }
.lesson_grid .card-img { transition: 0.5s all ease-in-out; -webkit-transition: 0.5s all ease-in-out;  transform: scale(1.4); -webkit-transform: scale(1.4); }
.lesson_grid:hover .card-img { transform: scale(2); -webkit-transform: scale(2); }
.lesson_grid:hover { height: 150px; }
.lesson_grid:hover .study-overlay div { top: 45px; }
ul.lesson_grid_list { margin: 0; padding: 0; list-style-type: none; }
ul.lesson_grid_list li { display: inline; margin-right: 15px; }
ul.lesson_grid_list li a, ul.lesson_grid_list li button  { color: #FFF; text-decoration: none; background-color: transparent;}
ul.lesson_grid_list li a i{ margin-right: 5px; }
/*social links*/
.social-links a { margin: 0 5px; }
nav.header_profile a { margin: 0 10px; }
.navbar-nav a { color: #000; }
.navbar { line-height: 40px; }
nav.nav { line-height: 36px; }
nav.nav a { padding-top: 0.95rem !important; padding-bottom: 0.45rem !important; }
.navbar a:hover, .navbar a.active { border-bottom: 3px solid #007bff; transition: 0.4s all ease-in-out; -webkit-transition: 0.4s all ease-in-out; }
nav.nav a:hover, nav.nav a.active { border-bottom: 3px solid #007bff; transition: 0.4s all ease-in-out; -webkit-transition: 0.4s all ease-in-out; }
/*search box*/
nav.navbar .search-box {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  padding: 0;
  background: #fff;
  z-index: 9999;
  border-radius: 0;
  display: none;
}

nav.navbar .search-box .dismiss {
  position: absolute;
  top: 84%;
  right: 20px;
  transform: translateY(-50%);
  background: none;
  border: none;
  cursor: pointer;
  font-size: 1.2rem;
  color: #5d5386;
}

nav.navbar .search-box form {
  height: 100%;
}

nav.navbar .search-box form input {
  height: 100%;
  border: none;
  padding: 50px 20px;
  color: #5d5386;
}

nav.navbar .search-box form input::placeholder {
  color: #2a2c3d;
  font-weight: 500;
}
footer { border-top: 1px solid #dc3545; }
/*
 * MODERN DASHBOARD (Search)
 */
.db-modern nav.navbar .search-box {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  padding: 0;
  background: #2c304d;
  z-index: 9999;
  border-radius: 0;
  display: none;
}

.db-modern nav.navbar .search-box .dismiss {
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
  background: none;
  border: none;
  cursor: pointer;
  font-size: 1.2rem;
  color: #aea9c3;
}

.db-modern nav.navbar .search-box form {
  height: 100%;
}

.db-modern nav.navbar .search-box form input {
  background: #2c304d;
  height: 100%;
  border: none;
  padding: 20px;
  color: #fff;
}

.db-modern nav.navbar .search-box form input::placeholder {
  color: #aea9c3;
  font-weight: 500;
}
/*lesson-steps*/
.create_less { height: 55px; line-height: 55px; }
.create_less h6 { font-size: 12px; font-weight: 600; }
.create_less h6 span {font-size: 10px; font-weight: 400; }

/*slides*/
ul.sliderss { padding: 0; margin: 0; list-style: none; }
ul.sliderss li { margin: 0 0 20px 0; padding: 4px; border: 1px solid #ececec; box-shadow: 0 0 5px 0px #e8e8e8; }
.box-shadow { box-shadow: 0 0 5px 0px #e8e8e8; }
.less_slide h5 { margin-bottom: 30px; }
.less_slide p { font-size: 14px; line-height: 28px;}
.carousel-item { background: #FFF; }

/*lesson form*/
.lesson-form input[type='text'], .lesson-form textarea { border: 1px dashed #ececec; box-shadow: transparent; }
.lesson-form input[type='text'] { font-size: 30px; font-weight: 700; color: #000; }
.lesson-form input[type='text']::-webkit-input-placeholder {
  font-size: 30px; font-weight: 700; color: #dbdbdb;
}
.lesson-form input[type='text']::-moz-placeholder {
  font-size: 30px; font-weight: 700; color: #dbdbdb;
}
.lesson-form input[type='text']:-ms-input-placeholder {
  font-size: 30px; font-weight: 700; color: #dbdbdb;
}
.lesson-form input[type='text']::placeholder {
  font-size: 30px; font-weight: 700; color: #dbdbdb;
}
/*lesson publish*/
.course_tutor img { width: 50px; height: 50px; margin-right: 20px; text-transform: uppercase; }
blockquote { border-left: 7px solid #007bff; padding-left: 20px; }
blockquote p { font-size: 13px;}

/* carousel */
@media (min-width: 980px) {
  .carousel-caption { position: relative !important; left: 0 !important; right: none !important; bottom: none !important; }
  .carousel-control-prev { left: -100px !important; opacity: 1 !important; }
  .carousel-control-next { right: -100px !important; opacity: 1 !important; }
  
}

/*
 * Login / Register
 */
.authentication-col-content{
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  padding: 0 50px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.authentication-col-content h1 {
  margin-top: 30px;
  margin-bottom: 0;
  color: #fff;
  font-size: 3.2rem;
  font-weight: 700;
}

.authentication-col-content .description {
  color: #fff;
  margin-top: 15px;
  font-size: 1.2rem;
  font-weight: 500;
}

.authentication-form {
  font-size: 0.9rem;
  width: 70%;
  display: block;
}

.authentication-form h3 {
  color: #2c304d;
  font-size: 1.4rem;
  font-weight: 500;
  margin-bottom: 30px;
  text-align: left;
}

.authentication-form .group {
  position: relative;
  margin-bottom: 30px;
}

.authentication-form .sign-btn {
  margin: 25px 0 0 0;
}

.register {
  color: #40545a;
  text-align: center;
  margin-top: 30px;
}

@media (max-width: 991px) {
  .authentication-form {
    padding: 3rem;
  }
}

@media (max-width: 572px) {
  .authentication-form {
    width: 100%;
    padding: 3rem;
  }
}
/*
 * Login / Register 02
 */
.authentication-col-content-2 {
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  padding: 0 50px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.authentication-col-content-2 h1 {
  margin-top: 30px;
  margin-bottom: 0;
  color: #fff;
  font-size: 2.4rem;
  font-weight: 600;
}

.authentication-col-content-2 .description {
  color: #fff;
  margin-top: 15px;
  font-size: 1rem;
  font-weight: 500;
}

.authentication-form-2 {
  width: 50%;
  display: block;
}

.authentication-form-2 h3 {
  color: #2c304d;
  font-size: 1.8rem;
  font-weight: 500;
  margin-bottom: 30px;
  text-align: left;
}

.authentication-form-2 .group {
  position: relative;
  margin-bottom: 30px;
}

.authentication-form-2 .sign-btn {
  margin: 25px 0 0 0;
}

.login-nav {
  font-weight: 500;
}

.login-nav.nav-tabs {
  border: 0 none;
}

.login-nav.nav-tabs > li > a::after {
  display: none;
}

.login-nav * {
  transition: all 0.35s ease;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.login-nav li {
  display: inline-block;
  list-style: outside none none;
  margin: 0 0.5rem;
  padding: 0;
}

.login-nav li:first-child {
  margin-left: 0;
}

.login-nav li:last-child {
  margin-right: 0;
}

.login-nav a {
  padding: 0.65rem 0;
  color: #fff;
  text-decoration: none;
  display: inline-block;
}

.login-nav a.active {
  background: #fff;
  padding: 0.65rem 1.07rem;
  color: #e76c90;
  text-decoration: none;
  display: inline-block;
  border-radius: 35px;
}

.login-nav a.active:hover {
  color: #2c304d !important;
}

.login-nav a:hover {
  background: #fff !important;
  padding: 0.65rem 1.07rem;
  text-decoration: none;
  display: inline-block;
  border-radius: 35px;
}

.login-nav.nav-tabs > li > a:hover {
  color: #2c304d !important;
}

.login-nav a:before {
  bottom: 0;
  left: 0;
}

@media (max-width: 572px) {
  .authentication-form-2 {
    width: 100%;
    padding: 2rem;
  }
}

/*add slide*/
.addslide { position: absolute; right: 0; bottom: 0; width: 40%; }
.addslide .col { height: 100px; display: flex; justify-content: center; align-items: center; }
.addslide .col p { display: block; }
div.addslide > div > div { height: 80px; line-height: 30px; padding-top: 10px; }
div.addslide > div > div p {  margin-bottom: 0; }
@media (max-width: 646px) {
  .addslide { width: 100%; }
}
div.addslide > div > div:hover { border: 1px solid #007bff !important; color: #007bff;  }

/* questiontabs */
.nav-tabs { border: 0px !important; }
.q_tabs li a { color: #000; font-weight: 600; }
.q_tabs li a.active { border-color: #fff #fff #007bff #fff !important; border-width: 0 0 3px 0; color: #007bff !important; }
.nav-tabs .nav-link:focus, .nav-tabs .nav-link:hover { border-color: #FFF; border-radius: 0px;   background: #007bff; color: #FFF; }

.quiz_ques .form-group input[type='text'].form-control { border-top: 0; border-left: 0; border-right: 0; border-radius: 0px; padding: 30px 0; font-size: 20px; }
.quiz_ques .custom-checkbox:hover span, .quiz_ques .custom-checkbox input[type='checkbox']:checked { color: #007bff; }

/*login*/
.bg_image_login{
  /* position: absolute; */
  /* background-image: url('../images/login_bg.png'); */
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  /* width: calc(100%);
  height: calc(100%); */
  text-align: center;
  padding: 0; margin: 0;
}
.login_scr{
  display: flex;
  justify-content: center;
  align-items: center;
}
/* sign in */
.fm-signin {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
}
.form-signin {
  width: 100%;
  max-width:410px;
  padding: 15px;
  margin: auto;
}

/*floating form*/
.form-signin .checkbox label { font-size: 15px; }
.form-signin .checkbox input { vertical-align: middle; }
.form-signin button { border-radius: 0px; }
.form-label-group .form-control { 
  border-left: 0;
  border-right: 0;
  border-top: 0;
  border-bottom: 1px solid inherit; border-radius: 0px; }
.form-label-group {
  position: relative;
  margin-bottom: 1.5rem;
}

.form-label-group > input,
.form-label-group > label {
  padding: var(--input-padding-y) var(--input-padding-x);
}

.form-label-group > label {
  position: absolute;
  top: -5px;
  left: 0;
  display: block;
  width: 100%;
  margin-bottom: 0; /* Override default `<label>` margin */
  line-height: 1.5;
  color: #495057;
  /*border-radius: .25rem;*/
  transition: all .1s ease-in-out;
}

.form-label-group input::-webkit-input-placeholder {
  color: transparent;
}

.form-label-group input:-ms-input-placeholder {
  color: transparent;
}

.form-label-group input::-ms-input-placeholder {
  color: transparent;
}

.form-label-group input::-moz-placeholder {
  color: transparent;
}

.form-label-group input::placeholder {
  color: transparent;
}

.form-label-group input:not(:placeholder-shown) {
  padding-top: calc(var(--input-padding-y) + var(--input-padding-y) * (1 / 3));
  padding-bottom: calc(var(--input-padding-y) / 3);
}

.form-label-group input:not(:placeholder-shown) ~ label {
  padding-top: calc(var(--input-padding-y) / 3);
  padding-bottom: calc(var(--input-padding-y) / 3);
  font-size: 12px;
  color: #777;
}

/* dropdown */
.wrapper-dropdown-3 {
    /* Size and position */
    position: relative;
    color: #495057;    
    margin: 0 auto;
    padding: 6px 0;
    /* Styles */
    background: #fff;
    border-bottom: 1px solid #ced4da;
    cursor: pointer;
    outline: none;
}

.wrapper-dropdown-3:after {
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    right: 15px;
    top: 50%;
    margin-top: -3px;
    border-width: 6px 6px 0 6px;
    border-style: solid;
    border-color: #495057 transparent;
}

.wrapper-dropdown-3 .dropdown {
  /* Size & position */
    position: absolute;
    top: 140%;
    left: 0;
    right: 0;

    /* Styles */
    background: white;
    border-radius: inherit;
    border: 1px solid rgba(0,0,0,0.17);
    box-shadow: 0 0 5px rgba(0,0,0,0.1);
    font-weight: normal;
    -webkit-transition: all 0.5s ease-in;
    -moz-transition: all 0.5s ease-in;
    -ms-transition: all 0.5s ease-in;
    -o-transition: all 0.5s ease-in;
    transition: all 0.5s ease-in;
    list-style: none;

    /* Hiding */
    opacity: 0;
    pointer-events: none;
}

.wrapper-dropdown-3 .dropdown:after {
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    bottom: 100%;
    right: 15px;
    border-width: 0 6px 6px 6px;
    border-style: solid;
    border-color: #fff transparent;    
}

.wrapper-dropdown-3 .dropdown:before {
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    bottom: 100%;
    right: 13px;
    border-width: 0 8px 8px 8px;
    border-style: solid;
    border-color: rgba(0,0,0,0.1) transparent;    
}

.wrapper-dropdown-3 .dropdown li a {
    display: block;
    padding: 10px;
    text-decoration: none;
    border-bottom: 1px solid #e6e8ea;
    box-shadow: inset 0 1px 0 rgba(255,255,255,1);
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
    color: #495057;
}

.wrapper-dropdown-3 .dropdown li i {
    /*float: right;*/
    color: inherit;
    margin-right: 10px;
}

.wrapper-dropdown-3 .dropdown li:first-of-type a {
    border-radius: 7px 7px 0 0;
}

.wrapper-dropdown-3 .dropdown li:last-of-type a {
    border: none;
    border-radius: 0 0 7px 7px;
}

/* Hover state */

.wrapper-dropdown-3 .dropdown li:hover a {
    background: #f3f8f8;
}

/* Active state */

.wrapper-dropdown-3.active .dropdown {
    opacity: 1;
    pointer-events: auto;
    padding: 0;
}

/* No CSS3 support */

.no-opacity       .wrapper-dropdown-3 .dropdown,
.no-pointerevents .wrapper-dropdown-3 .dropdown {
    display: none;
    opacity: 1; /* If opacity support but no pointer-events support */
    pointer-events: auto; /* If pointer-events support but no pointer-events support */
}

.no-opacity       .wrapper-dropdown-3.active .dropdown,
.no-pointerevents .wrapper-dropdown-3.active .dropdown {
    display: block;
}
/*welcome section*/
.welcome-section { padding: 50px 0; }
.welcome-section h5 { font-size: 1em; margin-bottom: 2em; }
.welcome-section h1.count { font-size: 2.5rem; font-weight: 300; display: flex; }
.welcome-section h1.count span { font-size: 13px; font-weight: 400; line-height: 16px; margin-top: 10px; margin-left: 5px; }
.welcome-section .sslider { margin-top: 4em; }
.welcome-section .slider .slick-slide { box-shadow: 0px 0px 10px 0px #efefef; background: #FFFFFF; margin: 10px 2px; border: 1px solid #f3f3f3; }
.welcome-section .slider div .course-info { padding: 1em 1.3em; }
.welcome-section .slider div { position: relative; }
.welcome-section .slider div .course_det { position: absolute; bottom: 0; padding-left: 0.7em; }
.welcome-section .slider div .course_det h4 { color: #ADAFB3; font-size: 12px; margin-bottom: 0px; }
.welcome-section .slider div .course_det p { color: #333333; font-weight: 600; font-size: 12px; margin-bottom: 5px; }
/*add lesson*/
.welcome-section .slider .addless { box-shadow: 0px 0px 0px 1px #efefef !important; background: transparent !important;  border: 0px dashed #ddd !important;  }
.welcome-section .slider .addless { font-size: 0.4em; font-weight: 500; }
.welcome-section .slider .addless .course-info { padding: 2.7em 2.3em; }
.welcome-section .slider .addless .course-info h3 { font-size: 2em; }
.welcome-section .slider .addless .course_det {padding: 2.7em 2.3em;}
.welcome-section .slider .addless .course_det a { color: #333333; text-decoration: underline; }
/*no task*/
.welcome-section .slider .notask { box-shadow: 0px 0px 0px 1px #efefef !important; background: transparent !important;  border: 0px dashed #ddd !important; }
.welcome-section .slider .notask { font-size: 0.4em; font-weight: 500; }
.welcome-section .slider .notask .course-info { padding: 2.7em 2.3em; }
.welcome-section .slider .notask .course-info h3 { font-size: 2em; }
.welcome-section .slider .notask .course_det {padding: 2.7em 2.3em;}
.welcome-section .slider .notask .course_det a { color: #333333; text-decoration: underline; }

/*report highlight*/
.report-highlights { margin-top: 4em; }
.report-highlights h5 { font-size: 1em; margin-bottom: 3em; }
.report-highlights h6 { border-bottom: 1px solid #E0E0E0; padding-bottom: 1.5em; font-size: 13px; font-weight: 300; }
ul.course-comp { margin: 0; padding: 0; }
ul.course-comp li { margin: 1em 0; border-bottom: 1px solid #E0E0E0; }
ul.course-comp li div { padding: 0 0;}
ul.course-comp .crse-comp-title { font-size: 0.6em; margin-bottom: 1em; font-weight: 500; color: #333333; }
ul.course-comp h3 { font-size: 1em; font-weight: 600; }
ul.course-comp .crse-enroll { font-size: 0.6em; color: #ADAFB3; }
ul.course-comp h1.count { font-size: 40px; font-weight: 300; display: flex; margin-bottom: 0.05em; }
ul.course-comp h1.count span { font-size: 0.25em; font-weight: 400; line-height: 16px; margin-top: 10px; margin-left: 5px; }

/* talk */
.talk-section { padding: 0 0 4em 0; margin-top: 4em; }
.talk-section h5 { font-size: 1em; margin-bottom: 3em; }
.talk-section p { font-size: 0.8em; line-height: 24px; }
.talk-section h1.count { font-size: 40px; font-weight: 300; display: flex; }
.talk-section h1.count span { font-size: 13px; font-weight: 400; line-height: 16px; margin-top: 10px; margin-left: 5px; }
.talk-section .sslider { margin-top: 4em; }
.talk-section .slider .slick-slide { box-shadow: 0px 0px 10px 0px #efefef; background: #FFFFFF; margin: 10px 2px; border: 1px solid #f3f3f3; }
.talk-section .slider div .course-info { padding: 1em 1.3em; }
.talk-section .slider div .course-info h5 { margin-bottom: 1em; }
.talk-section .slider div { position: relative; }
.talk-section .slider div .course_det { position: absolute; bottom: 0; padding-left: 0.7em; }
.talk-section .slider div .course_det h4 { color: #ADAFB3; font-size: 12px; margin-bottom: 0px; }
.talk-section .slider div .course_det p { color: #333333; font-weight: 600; font-size: 12px; margin-bottom: 5px; }


/*course details*/
.course-details h1.count { font-size: 2.5rem; font-weight: 300; display: flex; }
.course-details h1.count span { font-size: 13px; font-weight: 400; line-height: 16px; margin-top: 10px; margin-left: 5px; }
.course-details blockquote h6 { font-size: 30px; font-weight: 700 }

.slick-slide figure.course_img img { width: 100%; border-radius: 0px; }
.slick-slide figure { position: relative; }
.slick-slide figure .backdrop { width: 100%; height: 100%; background-color: rgba(0, 0, 0, 0.55); position: absolute; }
.slick-slide figure .course_det { position: absolute; top: 0; color: #FFF; padding-left: 10px; padding-top: 10px; }
.slick-slide figure .course_det h4 { font-size: 1rem; margin-bottom: 5px; }
.slick-slide figure .course_info { position: absolute; bottom: 0; left: 0; padding-left: 15px;     padding-bottom: 10px; }
.slick-slide figure .course_info h4 { font-size: 1.1rem; font-weight: 600; color: #FFF;  }
.slick-slide figure .course_info h6 { font-weight: 500; font-size: 0.8rem; }
.course-less .slick-slide { margin: 0 3px; }


/* course lesson discussion */
ul.cou-less li a { padding: 1rem 1rem !important; color: #ADAFB3 !important; font-weight: 700; }
ul.cou-less li a.active { color: #262626 !important; border-bottom: 4px solid #1DA1F8;  }
.course-less-diss  .input-group { border: 1px solid #DEDEDE; }
.course-less-diss .input-group .input-group-text, .course-less-diss .input-group .form-control { background: transparent; border: 0; }
.course-less-diss .input-group button { border-right: 0; border-top: 0; border-bottom: 0; border-left: 1px solid #DEDEDE; }
.course-less-diss .nav-tabs { border-bottom: 1px solid #DEDEDE !important; }
.course-less-diss .nav-tabs .nav-link.active { border-bottom: 3px solid #262626; border-top: 0; border-left: 0; border-right: 0; color: #262626; }
.course-less-diss .nav-tabs .nav-link { font-weight: 600; color: #ADAFB3; }
ul.cse-diss { margin: 0; padding: 0; list-style: none; }
ul.cse-diss li { border-top: 1px solid #DEDEDE; padding-bottom: 30px;}
ul.cse-diss li:first-child { border: 0px; }

/* learners enroll */
.leaners-enroll .input-group { border-bottom: 1px solid #DEDEDE; }
.leaners-enroll .input-group .input-group-text, .leaners-enroll .input-group .form-control { background: transparent; border: 0; }
.leaners-enroll .input-group button { border-right: 0; border-top: 0; border-bottom: 0; border-left: 1px solid #DEDEDE; }
ul.tutorlist { margin: 0; padding: 0; list-style: none; }
ul.tutorlist li { padding: 0; margin: 5px 0; }

/* elango style */
.aligntext-left {padding-left: 10px !important;}
.mt-5rem {margin-top: 5rem!important;}
.text-color-black {color:black !important;}
.text-color-white {color:white !important;}
.lessonHeaderClass {cursor: pointer;}
.blur-effect{-webkit-filter:blur(3px);filter:blur(3px);}

.slick-slide img {
  display: block;
  border-radius: 30px;
}

.slick-list{
  height: 225px !important;
}
/* elango 2 style */
.blur-effect{pointer-events:none;}
.ql-editor{
  height: 350px !important;
  overflow: hidden;
  overflow-y: scroll;
}